.apartado1{
	
	float: right;
}

.apartado2{
	background-color: orange;
}

.partes1{
	background-color: black;
}

.partes2{
	background-color: #009696;
}

.barra1{
	background-color: lightgreen;
}

.barra2{
	background-color: skyblue;
}
.barra3{
	background-color: orange;
}